{% extends 'base.html' %}
{% block title %}About Tomato Scrub{% endblock title %}
{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <img src="#" class="img-fluid rounded" alt="🍕">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">About Tomato Scrub</h1>
            <p class="lead">Tomato Scrub is a multifunctional project management app designed to streamline your
                workflow and boost productivity.</p>
            <p>Our mission is to empower individuals and teams to achieve their goals efficiently by providing intuitive
                tools and features.</p>
            <p>With Tomato Scrub, you can organize tasks, collaborate with team members, track progress, and accomplish
                more in less time.</p>
        </div>
    </div>
</div>

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Vision</h2>
                <p>Our vision is to become the go-to project management solution for individuals, businesses, and
                    organizations worldwide.</p>
            </div>
            <div class="col-md-6">
                <h2>Key Features</h2>
                <ul>
                    <li>Task Management</li>
                    <li>Team Collaboration</li>
                    <li>Progress Tracking</li>
                    <li>Deadline Reminders</li>
                    <li>Customizable To-Do Lists</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}